school_management/App_WebReferences/teacherservice/teachersev.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://schoolmgmt.sswtechnology.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://schoolmgmt.sswtechnology.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schoolmgmt.sswtechnology.com/">
      <s:element name="insert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="techerno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="joindate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="designation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="father" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="gender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dob" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="blood" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="year" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="month" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="details" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="salary" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imgg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="teacher" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="techerno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="joindate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="designation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="father" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="gender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dob" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="blood" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="year" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="month" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="details" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="salary" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imgg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="teacher" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="updateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deleteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="show">
        <s:complexType />
      </s:element>
      <s:element name="showResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="showResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="teacherpayinsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="year" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="month" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="salary" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="holiday" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paidsalary" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="teacherpayinsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="teacherpayinsertResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
      <s:element name="DataTable" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="insertSoapIn">
    <wsdl:part name="parameters" element="tns:insert" />
  </wsdl:message>
  <wsdl:message name="insertSoapOut">
    <wsdl:part name="parameters" element="tns:insertResponse" />
  </wsdl:message>
  <wsdl:message name="updateSoapIn">
    <wsdl:part name="parameters" element="tns:update" />
  </wsdl:message>
  <wsdl:message name="updateSoapOut">
    <wsdl:part name="parameters" element="tns:updateResponse" />
  </wsdl:message>
  <wsdl:message name="deleteSoapIn">
    <wsdl:part name="parameters" element="tns:delete" />
  </wsdl:message>
  <wsdl:message name="deleteSoapOut">
    <wsdl:part name="parameters" element="tns:deleteResponse" />
  </wsdl:message>
  <wsdl:message name="showSoapIn">
    <wsdl:part name="parameters" element="tns:show" />
  </wsdl:message>
  <wsdl:message name="showSoapOut">
    <wsdl:part name="parameters" element="tns:showResponse" />
  </wsdl:message>
  <wsdl:message name="teacherpayinsertSoapIn">
    <wsdl:part name="parameters" element="tns:teacherpayinsert" />
  </wsdl:message>
  <wsdl:message name="teacherpayinsertSoapOut">
    <wsdl:part name="parameters" element="tns:teacherpayinsertResponse" />
  </wsdl:message>
  <wsdl:message name="insertHttpGetIn">
    <wsdl:part name="techerno" type="s:string" />
    <wsdl:part name="joindate" type="s:string" />
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="designation" type="s:string" />
    <wsdl:part name="father" type="s:string" />
    <wsdl:part name="gender" type="s:string" />
    <wsdl:part name="dob" type="s:string" />
    <wsdl:part name="country" type="s:string" />
    <wsdl:part name="state" type="s:string" />
    <wsdl:part name="city" type="s:string" />
    <wsdl:part name="address" type="s:string" />
    <wsdl:part name="mobile" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="status" type="s:string" />
    <wsdl:part name="blood" type="s:string" />
    <wsdl:part name="year" type="s:string" />
    <wsdl:part name="month" type="s:string" />
    <wsdl:part name="details" type="s:string" />
    <wsdl:part name="salary" type="s:string" />
    <wsdl:part name="pass" type="s:string" />
    <wsdl:part name="pass1" type="s:string" />
    <wsdl:part name="imgg" type="s:string" />
    <wsdl:part name="teacher" type="s:string" />
  </wsdl:message>
  <wsdl:message name="insertHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="updateHttpGetIn">
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="techerno" type="s:string" />
    <wsdl:part name="joindate" type="s:string" />
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="designation" type="s:string" />
    <wsdl:part name="father" type="s:string" />
    <wsdl:part name="gender" type="s:string" />
    <wsdl:part name="dob" type="s:string" />
    <wsdl:part name="country" type="s:string" />
    <wsdl:part name="state" type="s:string" />
    <wsdl:part name="city" type="s:string" />
    <wsdl:part name="address" type="s:string" />
    <wsdl:part name="mobile" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="status" type="s:string" />
    <wsdl:part name="blood" type="s:string" />
    <wsdl:part name="year" type="s:string" />
    <wsdl:part name="month" type="s:string" />
    <wsdl:part name="details" type="s:string" />
    <wsdl:part name="salary" type="s:string" />
    <wsdl:part name="pass" type="s:string" />
    <wsdl:part name="pass1" type="s:string" />
    <wsdl:part name="imgg" type="s:string" />
    <wsdl:part name="teacher" type="s:string" />
  </wsdl:message>
  <wsdl:message name="updateHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="deleteHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="deleteHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="showHttpGetIn" />
  <wsdl:message name="showHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="teacherpayinsertHttpGetIn">
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="tid" type="s:string" />
    <wsdl:part name="year" type="s:string" />
    <wsdl:part name="month" type="s:string" />
    <wsdl:part name="date" type="s:string" />
    <wsdl:part name="salary" type="s:string" />
    <wsdl:part name="holiday" type="s:string" />
    <wsdl:part name="paidsalary" type="s:string" />
  </wsdl:message>
  <wsdl:message name="teacherpayinsertHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="insertHttpPostIn">
    <wsdl:part name="techerno" type="s:string" />
    <wsdl:part name="joindate" type="s:string" />
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="designation" type="s:string" />
    <wsdl:part name="father" type="s:string" />
    <wsdl:part name="gender" type="s:string" />
    <wsdl:part name="dob" type="s:string" />
    <wsdl:part name="country" type="s:string" />
    <wsdl:part name="state" type="s:string" />
    <wsdl:part name="city" type="s:string" />
    <wsdl:part name="address" type="s:string" />
    <wsdl:part name="mobile" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="status" type="s:string" />
    <wsdl:part name="blood" type="s:string" />
    <wsdl:part name="year" type="s:string" />
    <wsdl:part name="month" type="s:string" />
    <wsdl:part name="details" type="s:string" />
    <wsdl:part name="salary" type="s:string" />
    <wsdl:part name="pass" type="s:string" />
    <wsdl:part name="pass1" type="s:string" />
    <wsdl:part name="imgg" type="s:string" />
    <wsdl:part name="teacher" type="s:string" />
  </wsdl:message>
  <wsdl:message name="insertHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="updateHttpPostIn">
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="techerno" type="s:string" />
    <wsdl:part name="joindate" type="s:string" />
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="designation" type="s:string" />
    <wsdl:part name="father" type="s:string" />
    <wsdl:part name="gender" type="s:string" />
    <wsdl:part name="dob" type="s:string" />
    <wsdl:part name="country" type="s:string" />
    <wsdl:part name="state" type="s:string" />
    <wsdl:part name="city" type="s:string" />
    <wsdl:part name="address" type="s:string" />
    <wsdl:part name="mobile" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="status" type="s:string" />
    <wsdl:part name="blood" type="s:string" />
    <wsdl:part name="year" type="s:string" />
    <wsdl:part name="month" type="s:string" />
    <wsdl:part name="details" type="s:string" />
    <wsdl:part name="salary" type="s:string" />
    <wsdl:part name="pass" type="s:string" />
    <wsdl:part name="pass1" type="s:string" />
    <wsdl:part name="imgg" type="s:string" />
    <wsdl:part name="teacher" type="s:string" />
  </wsdl:message>
  <wsdl:message name="updateHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="deleteHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="deleteHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="showHttpPostIn" />
  <wsdl:message name="showHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="teacherpayinsertHttpPostIn">
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="tid" type="s:string" />
    <wsdl:part name="year" type="s:string" />
    <wsdl:part name="month" type="s:string" />
    <wsdl:part name="date" type="s:string" />
    <wsdl:part name="salary" type="s:string" />
    <wsdl:part name="holiday" type="s:string" />
    <wsdl:part name="paidsalary" type="s:string" />
  </wsdl:message>
  <wsdl:message name="teacherpayinsertHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="teachersevSoap">
    <wsdl:operation name="insert">
      <wsdl:input message="tns:insertSoapIn" />
      <wsdl:output message="tns:insertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input message="tns:updateSoapIn" />
      <wsdl:output message="tns:updateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input message="tns:deleteSoapIn" />
      <wsdl:output message="tns:deleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="show">
      <wsdl:input message="tns:showSoapIn" />
      <wsdl:output message="tns:showSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="teacherpayinsert">
      <wsdl:input message="tns:teacherpayinsertSoapIn" />
      <wsdl:output message="tns:teacherpayinsertSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="teachersevHttpGet">
    <wsdl:operation name="insert">
      <wsdl:input message="tns:insertHttpGetIn" />
      <wsdl:output message="tns:insertHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input message="tns:updateHttpGetIn" />
      <wsdl:output message="tns:updateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input message="tns:deleteHttpGetIn" />
      <wsdl:output message="tns:deleteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="show">
      <wsdl:input message="tns:showHttpGetIn" />
      <wsdl:output message="tns:showHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="teacherpayinsert">
      <wsdl:input message="tns:teacherpayinsertHttpGetIn" />
      <wsdl:output message="tns:teacherpayinsertHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="teachersevHttpPost">
    <wsdl:operation name="insert">
      <wsdl:input message="tns:insertHttpPostIn" />
      <wsdl:output message="tns:insertHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input message="tns:updateHttpPostIn" />
      <wsdl:output message="tns:updateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input message="tns:deleteHttpPostIn" />
      <wsdl:output message="tns:deleteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="show">
      <wsdl:input message="tns:showHttpPostIn" />
      <wsdl:output message="tns:showHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="teacherpayinsert">
      <wsdl:input message="tns:teacherpayinsertHttpPostIn" />
      <wsdl:output message="tns:teacherpayinsertHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="teachersevSoap" type="tns:teachersevSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insert">
      <soap:operation soapAction="http://schoolmgmt.sswtechnology.com/insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="http://schoolmgmt.sswtechnology.com/update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="http://schoolmgmt.sswtechnology.com/delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="show">
      <soap:operation soapAction="http://schoolmgmt.sswtechnology.com/show" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="teacherpayinsert">
      <soap:operation soapAction="http://schoolmgmt.sswtechnology.com/teacherpayinsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="teachersevSoap12" type="tns:teachersevSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insert">
      <soap12:operation soapAction="http://schoolmgmt.sswtechnology.com/insert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap12:operation soapAction="http://schoolmgmt.sswtechnology.com/update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap12:operation soapAction="http://schoolmgmt.sswtechnology.com/delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="show">
      <soap12:operation soapAction="http://schoolmgmt.sswtechnology.com/show" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="teacherpayinsert">
      <soap12:operation soapAction="http://schoolmgmt.sswtechnology.com/teacherpayinsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="teachersevHttpGet" type="tns:teachersevHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="insert">
      <http:operation location="/insert" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <http:operation location="/update" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <http:operation location="/delete" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="show">
      <http:operation location="/show" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="teacherpayinsert">
      <http:operation location="/teacherpayinsert" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="teachersevHttpPost" type="tns:teachersevHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="insert">
      <http:operation location="/insert" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <http:operation location="/update" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <http:operation location="/delete" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="show">
      <http:operation location="/show" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="teacherpayinsert">
      <http:operation location="/teacherpayinsert" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="teachersev">
    <wsdl:port name="teachersevSoap" binding="tns:teachersevSoap">
      <soap:address location="http://localhost:6050/school_management/Admin/teachersev.asmx" />
    </wsdl:port>
    <wsdl:port name="teachersevSoap12" binding="tns:teachersevSoap12">
      <soap12:address location="http://localhost:6050/school_management/Admin/teachersev.asmx" />
    </wsdl:port>
    <wsdl:port name="teachersevHttpGet" binding="tns:teachersevHttpGet">
      <http:address location="http://localhost:6050/school_management/Admin/teachersev.asmx" />
    </wsdl:port>
    <wsdl:port name="teachersevHttpPost" binding="tns:teachersevHttpPost">
      <http:address location="http://localhost:6050/school_management/Admin/teachersev.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>